# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
output/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

## Output and logs -- the following directories are blocked via global gitignore.
#logs/
#temp/
#public-dev/
#extract/


# Virtual Environments
.env
.venv/
venv/
ENV/

# uv
.uv/

# IDEs
.idea/
.vscode/
